<div class="text-center">
    <h2>{{subject}}</h2>
    <p>{{content}}</p>
        <p>Created by {{user.name}} on {{format_date date_created}}</p>
      {{!-- If there are comments for the blog post, display them --}}
    {{#if comments.length}}
        <div class="col-md-6 project-list">
        <h3>Comments:</h3>

        {{#each comments as |comment|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <p>
                    {{comment.comment}}
                </p>
                <p>
                    Created by {{comment.user.name}} on {{format_date comment.date_created}}
                </p>
            </div>
        </div>
        {{/each}}
        </div>
    {{/if}}
    <p>
        <button class="btn btn-primary">Add a comment!</button>
    </p>
    <p>
        <a href="/editpost/{{id}}">
            <button class="btn btn-primary edit-post" data-id="{{id}}">UPDATE post</button>        
        </a>
    </p>
    <p>
        <button class="btn btn-primary delete-post" data-id="{{id}}">DELETE post</button>
    </p>    
</div>

<script src="/js/deletepost.js"></script>